section {
  height: 100vh;
  display: flex;
}
section > div {
  padding: 2rem;
}
section > div > h3 {
  font-size: 3rem;
}
section > div > h5 {
  font-size: 2rem;
}
section > img {
}

@media only screen and (max-width: 1024px) {
  section {
    flex-direction: column;
    text-align: center;
  }
  .left-penta,
  .right-penta {
    position: absolute;
    width: 20rem;
  }
  .left-penta {
    top: 115%;
  }

  .right-penta {
    top: 870%;
    right: 0;
  }
}
